# python_requires >= 3.11
colorama==0.4.6
cryptography==49.0.0
httpx==0.28.1
keyring==25.7.0
nodriver==0.50.3
platformdirs==4.11.0
pydantic==2.13.4
pydantic-settings[yaml]==2.14.2
pygame==2.6.1
pytest==9.1.1
pytest-asyncio==1.4.0
pyyaml==6.0.3
requests==2.34.2
selenium==4.46.0
urllib3==2.7.0
webdriver-manager==4.1.2
